@using LawOfWriter.DTO
@using LawOfWriter.Models
<h3>GameDetails</h3>
<h3>@gameDay.GameDayDto.Id</h3>

<MudDataGrid T="GameDayActionDto" Items="@gameDay.GameDayActionDtos">
    <Columns>
        <PropertyColumn Property="x=>x.User.UserName"/>
        <PropertyColumn Property="x=>x.Band"/>
        <PropertyColumn Property="x=>x.Pumpe"/>
        <PropertyColumn Property="x=>x.Kranz"/>
    </Columns>
</MudDataGrid>



@code {
    [Parameter] public required GameApiDto gameDay { get; set; }
}